/* Giris style.css */
body{
	background:url(../img/backgroundgiris.jpg);
	background-size:cover;
	background-attachment: fixed;
}
body a{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;

font-weight:400;
}
input[type="button"],input[type="submit"]{
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;

}

.clear {
clear:both;
}
p{
margin:0;
}

ul{
margin:0;
padding:0;
}

label{
margin:0;
}
img {
    width: 100%;
}

@font-face {
  font-family:'Lobster-Regular';
 
}
@font-face {
  font-family:'Righteous-Regular';

}
/*--/Reset code--*/
.wthree-form{
	text-align: center;
	background-color: #131315;
	width: 40%;
	margin:auto;
    margin-top:17%;
    margin-right:9%;
    border-radius:20px;
    padding: 3em;
	box-shadow: 4px 4px 0px rgb(77, 78, 80);
	opacity: 0.7;
	box-sizing: border-box;

}

span{
	color:white;
}
h2{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 0.1em;
	padding: 0.5em;
	color: #fff;
	border-bottom: 2px solid red;
	font-family: 'Righteous', cursive;
}


input[type="text"],input[type="password"]{
	font-size: 1em;
	font-weight:500;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin: 10px;
	padding: 8px 0;
	border: 2px solid #fff;
	outline: none;
	box-sizing: border-box;
    border-radius:10px;
	font-family: 'Righteous', cursive;
}
input[type="submit"] {
	font-size: 1em;
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin: 20px 0 20px;
    padding: 8px 0;
    border: 2px solid #fff;
    border-radius:10px;
	outline: none;
	cursor: pointer;
	width: 33%;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;

	transition: 0.5s all;
}
input[type="submit"]:hover{
	font-size: 1em;
	font-weight: 500;
	text-transform: none;
	text-align: center;
	border-radius: 2em;
	border:2px solid #fff;
	padding: 8px 0;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	font-family: 'Righteous', cursive;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;

	transition: 0.5s all;
}

a{	
	color: #fffcfc;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Righteous', cursive;
}

