@using WebMatrix.Data;
@using CafeOtomasyon.Models.Entity;

@model List<Masa>
@{
    ViewBag.Title = "Masalar";
    Layout = null;

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Masalar</title>
    <link rel="stylesheet" href="~/Icerik/Masa/css/style.css" />
</head>
<body>
    <header>
        <a href="~/Admin/Index">
            <img style="height:530px;width:800px; margin-top:-130px; position:relative;margin-left:760px;" src="~/Icerik/Admin/img/baslik.png" />
        </a>

    </header>

    <center>

        <table class="tablemasa" border="0">
       
            <tr>
                <td>
                <a href="/Masa1/Index/">
                    <img src="~/Icerik/Masa/img/Masa1.png">
                </a>


                </td>


                <td>
                    <a href="/Masa2/Index/" id="masa2">
                        <img src="~/Icerik/Masa/img/Masa2.png">
                    </a>
                </td>
           

                <td>
                    <a href="/Masa3/Index/" id="masa3">
                        <img src="~/Icerik/Masa/img/Masa3.png">
                    </a>
                    <br />

                </td>


                <td>
                    <a href="/Masa4/Index/" id="masa4">
                        <img src="~/Icerik/Masa/img/Masa4.png">
                    </a>
                    <br />
                </td>
            </tr>
            <tr>

                <td>
                    <a href="/Masa5/Index/" id="masa5">
                        <img src="~/Icerik/Masa/img/Masa5.png">
                    </a>
                </td>


                <td>
                    <a href="/Masa6/Index/" id="masa6">
                        <img src="~/Icerik/Masa/img/Masa6.png">
                    </a>
                </td>

                <td>
                    <a href="/Masa7/Index/" id="masa7">
                        <img src="~/Icerik/Masa/img/Masa7.png">

                    </a>
                </td>


                <td>
                    <a href="/Masa8/Index/" id="masa8">
                        <img src="~/Icerik/Masa/img/Masa8.png">
                    </a>
                </td>

            </tr>

        </table>

    </center>
</body>
</html>
