
@{
    ViewBag.Title = "YeniPersonel";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ürünler</title>
    <link rel="stylesheet" href="~/Icerik/Personel/css/style.css" />
</head>
<body>
    <header>
        <a href="~/Admin/Index">
            <img style="height:530px;width:800px; margin-top:-130px; position:relative;margin-left:760px;" src="~/Icerik/Admin/img/baslik.png" />
        </a>

    </header>


    <section >
        <section >
            <form class="form5" method="post">
                
                <div class="yenipersonelform">
                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "geridonbuton" })
                    <center>
                        @Html.ActionLink("Personel Ekle", "YeniPersonel", null, new { @class = "indbaslik" })
                    </center>
                    <hr />
                    <label>Personel Adı</label>
                    <br />
                    <input type="text" class="yenipersonel" name="personelAd" />
                    <br />

                    <label>Personel Soyadı</label>
                    <br />
                    <input type="text" class="yenipersonel" name="personelSoyad" />
                    <br />

                    <label>Personel Telefonu</label>
                    <br />
                    <input type="tel" class="yenipersonel" name="personelTelefon" />
                    <br />

                    <label>Bölümü</label>
                    <br />
                    <input type="text" class="yenipersonel" name="personelBolum" />
                    <br />

                    <button class="yenipersonelbuton">Personel Ekle</button>
                    <hr />
                </div>
            </form>
        </section>
    </section>

</body>
</html>
